@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,legend,button{font-size:14px;font-family:Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;}
#wrap {min-width:1024px;height:100%;overflow:auto;}
/* clear */
#header:after, #header ul.gnb:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden;}

/* header */
#header{position:relative; min-width:950px; width:100%; background:#fff;height:auto;box-shadow:none;}
#header h1 {padding:20px 0 20px 25px; font-family:Verdana, Geneva, sans-serif; color:#333;font-size:20px;height:auto;}
#header ul.gnb {background:#333; padding:0 0 0 30px; font-size:18px; font-weight:bold;height:auto;}
#header ul.gnb li {float:left; font-family:Verdana, Geneva, sans-serif;}
#header ul.gnb li a {display:inline-block; padding:0 20px; color:#fff; border:1px #333 solid; border-bottom:none; line-height:35px;}
#header ul.gnb li a.on {background:#fff; border:1px #333 solid; border-bottom:none; color:#333;}

/* container */
#container {padding:0 30px;}
h2.h2_tit {margin:7px 0; font-size:12px;}
h2.h2_tit .process {margin-left:40px; color:#999; font-weight:normal;}
.conbox {background:#f9f9f9; padding:10px; border-top:1px #eaeaea solid; border-bottom:1px #eaeaea solid;}
.conbox li {font-size:12px;}
.txt_ok {color:red; font-family:Tahoma, Geneva, sans-serif;}
.txt_ing {color:blue; font-family:Tahoma, Geneva, sans-serif;}
.txt_mod {color:black; font-family:Tahoma, Geneva, sans-serif;}
.txt_green {color:green; font-family:Tahoma, Geneva, sans-serif;}

#g_content {}
table.mlist {width:100%; border-collapse:collapse; margin:0; padding:0;}
table.mlist th, table.mlist td {padding:5px;}
table.mlist thead th {font-size:12px;background:#c4c4c4; text-align:center; color:#fff; border-left:1px #fff solid;}
table.mlist thead th.first {border:none;}
table.mlist tbody td {color:#666; text-align:center; border-bottom:1px #eaeaea solid;}
table.mlist tbody tr td:first-child { border-left:0; }
table.mlist th.hover, table.mlist td.hover, table.mlist tr.hover {background:#f9f9f9;}
table.mlist td {padding:5px; color:#999; text-align:left; border-left:1px #eaeaea solid; border-bottom:1px #eaeaea solid;}
table.mlist td.alC {text-align:center;}
table.mlist td.alL {text-align:left;}
table.mlist .itemtit01 {padding:5px 0 5px 10px; text-align:left; color:#002579; border-left:1px #eaeaea solid;}
table.mlist .itemtit02 {font-size:12px; color:#000; font-weight:bold;}
table.mlist .itemtit03 {padding:5px 0 5px 10px; text-align:left; color:#333;}
table.mlist .itemtit04 {padding:5px 0 5px 10px;color:#666;}
table.mlist .itemtit05 {padding:5px 0 5px 10px;color:#999;}
table.mlist .borB {background:#333; height:1px; padding:0 !important;}
.btn_go {display:inline-block; background:#aaaaaa; min-width:53px; padding:3px 5px 0 5px; border:1px #9b9b9b solid; font-family:dotum; color:#fff; line-height:15px; letter-spacing:-1px; word-wrap:normal;}
.btn_top {position:fixed; bottom:78px; right:5px;}
table.mlist tbody td.alR {text-align:right;}
table.mlist tr:hover {background:#eee;}

#footer {background:#f9f9f9; margin-top:50px; padding:7px 0; border-top:1px #ddd solid; font-size:10px; color:#999; text-align:center;}

.box {padding:30px 10px 50px;}
.con{display:none; padding:10px 10px 20px;}

.contents {width:100% !important;position:relative;background:transparent;margin:20px 0 7px 0;padding:0;}
.contents:after {display:block; clear:both; content:'';}
.g_menu {position:relative; width:100%; margin-bottom:30px; border-right:1px solid #ddd; box-sizing:border-box; -webkit-box-sizing:border-box; background:#fff;border:1px solid #ddd;}
.g_menu:after {display:block; content:""; clear:both;}
.g_menu li {float:left; width:auto; height:40px; line-height:40px; padding:0 10px; text-indent:5px; font-size:13px; color:#333; cursor:pointer;}
.g_menu li.on {font-weight:bold; background:#f5f5f5;}
.g_section {background:#fff;}
.g_section hr {margin-bottom:30px;border:0; border-bottom:1px dotted #666;}
.g_title {margin:0 0 10px; font-size:16px; color:#000; font-weight:bold;}
.g_title span { color:#666;}
.g_title + .guide-ol-list {padding-left:20px;}
.g_title:before {display:inline-block; content:''; width:4px; height:4px; margin-right:5px; background:#000; vertical-align:3px; }
.g_guide {margin-bottom:10px; overflow:hidden;}
.g_guide li {position:relative; margin-bottom:6px; padding-left:15px;}
.g_guide li:nth-last-child(1) {margin-bottom:0;}
.g_guide li:before {position:absolute; left:0; top:0; content:"-";}
.g_html {position:relative; padding:10px 10px 10px 80px; background:#fff; border:1px solid #ddd; box-sizing:border-box; overflow:hidden;}
.g_html:before { position:absolute; left:10px; top:50%; padding:5px; color:#fff; content:"적용예제"; background:red; transform:translateY(-50%);}
.source {display:inline-block; margin:5px 0; padding:3px 5px; color:#fff; background:rgb(58, 137, 206); cursor:pointer;}
.v_source {display:none;margin-bottom:20px;}
pre {padding:4px; border:1px dashed #ddd; background:#f5f5f5; -moz-user-select:text; -webkit-user-select:text; -ms-user-select:text;}

.div_str { position:relative; box-sizing:border-box; overflow:hidden; }
.div_str ul { display:inline-block; vertical-align:top; }
.div_str li { position:relative; margin-left:30px; }
.div_str li:before { position:absolute; left:-17px; top:14px; width:17px; height:1px; background:#999; content:""; }
.div_str li:after { position:absolute; left:-17px; top:14px; width:1px; height:100%; background:#999; content:""; }
.div_str li span { display:inline-block; min-width:100px; padding:5px 0; text-align:center; border:1px solid #999; overflow:hidden; }
.div_str li div { display:inline-block; padding:5px 10px; text-align:left; overflow:hidden; }
.div_str ul ul { }
.div_str ul > li:nth-last-child(1):after { display:none; }
.div_str ul > li:first-child:before { left:-34px; width:34px; }
.div_str ul > li:first-child:after { height:100%; }
.div_str > ul > li { margin-left:0; }
.div_str > ul > li:before { display:none; }
.div_str > ul ul ul ul span { min-width:160px; }
